@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{box-sizing:border-box;}
html,body{width:100%;height:100%;font-family:"Open Sans",sans-serif;}
body{padding:0;margin:0;background:#000;overflow-x:hidden;}
@font-face{font-family:HumaneBold;src:url(./font/Humane-Bold.otf);}

/*#main{width:100%;height:100%;}*/

/*header { padding: 0 2vw }*/
.logo{position:fixed;top:2vw;left:2vw;z-index:9;mix-blend-mode:difference;}
.logo img{max-width:150px;}
.d-flex{display:flex;flex-wrap:wrap;}
.d-flex-c{display:flex;flex-direction:column;}
.colorbox{position:absolute;top:0;width:100%;height:100vh}
.colorbox-1{background:#5546FF;z-index:3;}
.colorbox-2{background:#FC7EFF;z-index:2;}
.colorbox-3{background:#B3EB16;z-index:1;}
.menu{position:fixed;top:-353px;margin:auto;left:0;right:0;width:100%;max-width:521px;min-height:440px;z-index:9;}
.navsec{position:relative;z-index:1;width:100%;height:300px;background:#b3eb16;padding:30px 40px;border-radius:30px 30px 0 0;}
img.curvenavimg{position:absolute;bottom:20px;left:0;right:0;}
.social{justify-content:center;margin:40px 0 0;gap:11px;}
.social a{text-decoration:none;font-size:28px;color:#000;}
.nav ul{padding:0;margin:0;}
.nav ul li{list-style:none;padding:10px 0;border-bottom:1px solid #678c00;}
.normalnav{height:20px;transition:all ease .5s;display:flex;align-items:center;}
.hovernav{height:20px;position:absolute;top:0;bottom:0;transition:all ease .5s;align-items:center;margin:auto;transform-style:preserve-3d;transform:translateY(20px);font-style:italic;text-transform:capitalize;}
.nav a{display:flex;height:20px;font-size:17px;color:#000;text-decoration:none;text-transform:uppercase;width:100%;flex-direction:column;justify-content:center;align-items:flex-start;overflow:hidden;position:relative;}
.nav a:hover .normalnav{transform:translateY(-100px);transition:all ease .5s;}
.nav a:hover .hovernav{transition:all ease .5s;transform:translateY(0px);}
.navToggle{cursor:pointer;position:absolute;bottom:40px;font-size:30px;color:#000;z-index:9;margin:auto;display:table;width:50px;left:0;right:0;text-align:center;}
.navClose{visibility:hidden;cursor:pointer;opacity:0;position:absolute;bottom:40px;font-size:30px;color:#000;z-index:9;margin:auto;display:table;width:50px;left:0;right:0;text-align:center;}
.loadsvg{position:absolute;left:-1%;top:50%;bottom:auto;z-index:1;width:27rem;transform:rotate(15deg);}

/*.loadsvg2 {left: inherit;right: -30px; transform: rotate(15deg);}*/
.loadsvg2{left:initial;right:-3%;top:-4%;bottom:auto;transform:rotateY(156deg);}
.loadsvg svg{width:100%;}
.loadsvg dotlottie-player{width:100%!important;height:100%!important;}
.welcome{width:100%;height:100svh;display:flex;position:-webkit-sticky;position:sticky;top:0;overflow:hidden;background:#5546FF;align-items:center;align-content:center;justify-content:center;}
.welcome-text{height:75vh;overflow:hidden;position:absolute;margin:auto;top:0;bottom:0;}
.welcome-text h1{margin:0;font-family:HumaneBold;font-size:50vw;color:#fff;text-align:center;letter-spacing:-34px;}
.welcome-text h1 span{display:inline-block;}
.event{height:100vh;width:100%;background:#000;}
.permosation{position:absolute;right:0;bottom:0}
.permosation img{width:210px;height:210px;}
.permosation{position:absolute;right:0;bottom:0;z-index:2;width:210px;height:210px;display:flex;align-items:center;align-content:center;justify-content:center;}
.permosation span{font-family:'HumaneBold';color:#000;text-align:center;font-size:45px;position:absolute;left:0;right:0;margin:auto;text-transform:uppercase;}
#partyImg{animation:rotation 5s infinite}
@keyframes rotation{
	0%{rotate:0deg;}
	100%{rotate:100deg;}
}
.safecnt{position:absolute;bottom:0;}
.safecnt p{font-size:25px;color:#fff;}
.eventsec{position:relative;z-index:2;height:150vh;padding:12vw 0;background:#000;}
.drag{opacity:0;height:40px;width:80px;background-color:#fff;border-radius:20px;color:#000;display:flex;align-items:center;justify-content:center;position:absolute;left:0;top:0;transform:translate(-50%,-50%);z-index:99999999999;pointer-events:none;}
.eventheading h2{font-size:11vw;color:#fff;text-transform:uppercase;font-family:'HumaneBold';margin:0;}
.eventheading h2 span{letter-spacing:-16px;display:inline-block;}
.eventheading p{font-size:2vw;color:#fff;margin:0;}
.eventheading{padding:0 2vw;justify-content:space-between;}

/*.cards{height:60vw;}*/

/*.cards{width:150%;}*/
.cardbx{position:relative;width:100vw;height:100%;padding:8vw 0;}

/*.cards-1,.cards-2,.cards-3,.cards-4{width:30vw;}*/
.cards-3{background:yellow;padding:2px;}
.cardsmain .swiper-wrapper{height:80vh}
.cards{height:100%;}

/*.cards { height: 100%; }*/
.cardsmain .swiper-slide{height:initial;}
.cards img{width:100%;height:100%;object-fit:cover;}
.position-relative{position:relative;}
.card-title{position:absolute;bottom:20px;left:30px;}
.card-title h2{font-size:4vw;color:#fff;text-transform:uppercase;font-family:'HumaneBold';margin:0;}
.section-5{width:100%;height:100vh;}
.whatflowsec{position:relative;padding:7vw 2vw;width:100%;height:250vh;background:#bfff0a;z-index:2;}
.whatheadingletter{margin:0;font-size:7vw;color:#fff;text-transform:uppercase;font-family:'HumaneBold';color:#000;line-height:5vw;letter-spacing:-0.2vw;}
.whatheadingletter span{display:inline-block;}
.whatflowhead{display:flex;align-items:flex-start;justify-content:space-between;}
#flowtext{position:relative;padding-top:15vw;}
#bolan{position:absolute;right:40px;top:70px;z-index:2;}
#bolan img{max-width:300px;}

/*.flowpartcnt { position: absolute; bottom: 0; left: 200px; }*/
.flowpartcnt{width: 100%; max-width: 430px; font-size: 18px; color: #000; font-weight: 300; text-transform: uppercase; margin-left: 15vw; margin-top: -9vw;}

.wittysec { margin-top: 5vw; }
.wittysec h2 { font-family: HumaneBold; font-size: 10vw; color: #000; text-align: center; text-transform: uppercase; line-height: 8vw; margin: 0; }

#witty2 {
    margin-left: -22vw;
}

#witty3 {
    margin-right: -8vw;
}

#bolan2 { position: absolute; top: 23vw; left: 0vw; }
#bolan2 img {max-width: 360px;}












