@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{box-sizing:border-box;}
html,body{width:100%;height:100%;font-family:"Open Sans",sans-serif;}
body{padding:0;margin:0;background:#000;}
@font-face{font-family:HumaneBold;src:url(./Humane-Bold.otf);}
#main{width:100%;height:100%;position:relative;}
.logo{position:fixed;top:10px;left:10px;z-index:9;mix-blend-mode:difference;}
.d-flex{display:flex;}
.d-flex-c{display:flex;flex-direction:column;}
.colorbox{position:absolute;top:0;width:100%;height:100vh}
.colorbox-1{background:#5546FF;z-index:3;}
.colorbox-2{background:#FC7EFF;z-index:2;}
.colorbox-3{background:#B3EB16;z-index:1;}
.menu{position:fixed;top:-353px;margin:auto;left:0;right:0;width:100%;max-width:521px;min-height:440px;z-index:9;}
.navsec{position:relative;z-index:1;width:100%;height:300px;background:#b3eb16;padding:30px 40px;border-radius:30px 30px 0 0;}
img.curvenavimg{position:absolute;bottom:20px;left:0;right:0;}
.social{justify-content:center;margin:40px 0 0;gap:11px;}
.social a{text-decoration:none;font-size:28px;color:#000;}
.nav ul{padding:0;margin:0;}
.nav ul li{list-style:none;padding:10px 0;border-bottom:1px solid #678c00;}
.normalnav{height:20px;transition:all ease .5s;display:flex;align-items:center;}
.hovernav{height:20px;position:absolute;top:0;bottom:0;transition:all ease .5s;align-items:center;margin:auto;transform-style:preserve-3d;transform:translateY(20px);font-style:italic;text-transform:capitalize;}
.nav a{display:flex;height:20px;font-size:17px;color:#000;text-decoration:none;text-transform:uppercase;width:100%;flex-direction:column;justify-content:center;align-items:flex-start;overflow:hidden;position:relative;}
.nav a:hover .normalnav{transform:translateY(-100px);transition:all ease .5s;}
.nav a:hover .hovernav{transition:all ease .5s;transform:translateY(0px);}
.navToggle{cursor:pointer;position:absolute;bottom:40px;font-size:30px;color:#000;z-index:9;margin:auto;display:table;width:50px;left:0;right:0;text-align:center;}
.navClose{visibility:hidden;cursor:pointer;opacity:0;position:absolute;bottom:40px;font-size:30px;color:#000;z-index:9;margin:auto;display:table;width:50px;left:0;right:0;text-align:center;}
.welcome{width:100%;height:100vh;background:#5546FF;align-items:center;align-content:center;position:relative;}
.welcome-text{height:75vh;overflow:hidden;position:absolute;margin:auto;top:0;bottom:0;}
.welcome-text h1{margin:0;font-family:HumaneBold;font-size:50vw;color:#fff;text-align:center;letter-spacing:-34px;}
.welcome-text h1 span{display:inline-block;}
.event{height:100vh;width:100%;background:#000;}
.permosation { position: absolute;right: 0; bottom: 0 }

.permosation img {
    width: 210px;
    height: 210px;
}

.permosation {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.permosation span {
    font-family: 'HumaneBold';
    color: #000;
    text-align: center;
    font-size: 45px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-transform: uppercase;
}

#partyImg { animation: rotation 5s infinite }


@keyframes rotation {

0%{
	rotate:0deg;
}

100%{
	rotate:100deg;
}
}
.safecnt { position: absolute; bottom: 0; }
.safecnt p { font-size: 25px; color: #fff; }
